body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}

header {
  background: #f2f2f2;
  border-top: solid 2px #e4e4e4;
  position: fixed;
  top: 0;
  padding-top: 3px;
  width: 100%;
}

#nav_bar {
  float: right;
}

#nav_bar li {
  display: inline-block;
  padding: 9px;
  padding-top: 15px;
  font-size: 16px;
}

#nav_bar li a:hover {
  text-decoration: underline;
  color: #222;
}

a {
  text-decoration: none;
  color: inherit;
}

.google_logo {
  position: absolute;
  padding-left: 20px;
  padding-top: 15px;
}

.logo {
  background-image: url(https://ssl.gstatic.com/gb/images/i2_2ec824b0.png);
  background-position: 0 -35px;
  height: 33px;
  width: 92px;
  display: block;
  -webkit-background-size: 528px 68px;
  background-size: 528px 68px;
}

.box_logo {
  position: absolute;
  right: 200px;
  padding-top: 15px;
}

.boxes {
  display: inline-block;
  background-image: url(https://ssl.gstatic.com/gb/images/i2_2ec824b0.png);
  background-position: -132px -38px;
  height: 30px;
  width: 30px;
  display: block;
  -webkit-background-size: 528px 68px;
  background-size: 528px 68px;
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

.title {
  color: #d93025;
  font-size: 20px;
  margin-top: 90px;
  margin-left: 35px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #d9d9d9;
  margin: 1em 0;
  padding: 0;
}

.form_header {
  padding-top: 2em;
  padding-left: 3%;
}

.form_header_left {
  color: #333;
  font-size: 16px;
}

.form_header_right {
  padding-left: 42.2%;
  font-size: 13px;
  color: #777;
  font-weight: bold;
}

input:focus {
  outline-color: #4D90FE;
  -webkit-box-shadow: 0px 0px 5px #4D90FE;
  box-shadow: 0px 0px 5px #4D90FE;
}

.input_right {
  margin-left: 0.7%;
}

.input_box1 {
  display: inline-block;
  margin-left: 5.8%;
  width: 38.5%;
}

.input_box2 {
  display: inline-block;
  margin-left: 1.8%;
  width: 38.5%;
}

.input_box3 {
  display: inline-block;
  margin-left: 4.3%;
  width: 38.5%;
}

.input_box4 {
  display: inline-block;
  margin-left: 3.7%;
  width: 38.5%;
}

.button {
  background-color: #4d90fe;
  border: 1px solid #3079ed;
  color: #fff;
  border-radius: 2px;
  margin-left: 43%;
  margin-top: 2%;
}

footer {
  background: #f2f2f2;
  border-top: solid 2px #e4e4e4;
  position: fixed;
  bottom: 0;
  padding-bottom: 0;
  padding-top: 3px;
  width: 100%;
}

footer ul li {
  display: inline;
  color: #666666;
  font-size: 14px;
  padding: 13px;
}

footer ul {
  float: left;
  padding: 1px;
}

footer ul a:hover {
  text-decoration: underline;
  color: inherit;
}

/*# sourceMappingURL=advanced_search.css.map */
